.articulos-varios {
    padding: 20px;
    background-color: $blanco;
    height: 200vh;

    .contenedor-grande {
    display: flex;
    justify-content: center;

    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;
        text-align: center;

    }

    .contenedor {
        max-width: 500px;
        height: 500px;
        background-color: $blanco;
        border-radius: $br;
        border: 1px solid $negro;

        img {
            padding: 0;
            width: 100%;
        }

        h3 {
            margin-top: 20px;
            padding: 10px;
        }
   
        p {
            padding: 20px;
            @extend %p_articulos;
            font-size: 15px;
            line-height: 150%;

        }
    }
        .primero a {
            background-color: $verde;
        }

        .segundo a {
            background-color: $celeste;
        }

        .tercero a {
            background-color: $azul;
        }

        .cuarto a {
            background-color: $violeta;
        }

        a {
            @extend %btn_articulos;
        }

        h2 {
            color:$negro;
            font-size: $fs-titulos;
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
            padding: 35px;
            font-weight: 100;
            letter-spacing: 1px;
            position: relative;
        }

        h2::after{
            content: '';
            display: block;
            width: 50px;
            height: 2px;
            background-color: $negro;
            position: absolute;
            top:80px;
            left: 635px;
        }
}